.articleListItem {
  height: 60vw;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 7px;
  box-shadow: 1px 1px 3px;
  background-color: white;
  margin: 7px;
  color: black;
}

.articleListAdventureItem {
  height: 60vw;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 7px;
  /* box-shadow: 1px 1px 3px; */
  background-color: white;
  margin: 7px;
  color: black;
}


.titleAndW3w {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.w3w {
  font-size: 1rem;
}

/* .title {
  width: 80%;
  text-align: left;
  overflow: hidden;  		
  text-overflow: ellipsis;  	 
  white-space: nowrap;
  
  font-size: 24px;
  font-weight: 600;
  
} */
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.photo {
  height: 60%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 7px 7px 0 0;
}

.imgFile {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.date {
  font-size: 0.8rem;
  color: gray;
  text-align: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
