.articleListItem {
  height: 60vw;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 7px;
  box-shadow: 1px 1px 3px;
  background-color: white;
  margin: 7px;
  color: black;
}

.titleAndW3w {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.title {
  /* 타이틀 너비 체크 */
  width: 80%;
  text-align: left;

  /* 여기가 글자 넘칠때 잘라주는 코드 */
  overflow: hidden;  		
  text-overflow: ellipsis;  	 
  white-space: nowrap;
  
  font-size: 24px;
  font-weight: 600;
  
}

.photo {
  height: 60%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 7px 7px 0 0;
}

.imgFile {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.date {
  text-align: right;
  margin: 5px;
}
