.comment_content {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}

.photoAndNicknameAndTime {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nicknameAndButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nickname {
  margin-right: 2vw;
}

.contentAndFooter {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  text-align: left;
}

.content {
  word-break: break-all;
  /* white-space:normal; */
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}

.moreButton {
  margin-right: 1vw;
}

.likes {
  margin-right: 2vw;
}

.wouldYouDelete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
}

.yesDelete {
  color: white;
  background-color: red;
  border-radius: 8px;
  border: none;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.noDelete {
  color: white;
  background-color: #1c0b69;
  border-radius: 8px;
  border: none;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.comment {
  margin-bottom: 1rem;
}

.content {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.contentContainer {
  margin-left: 0.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.infoContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.nicknameContainer {
  display: flex;
  align-items: center;
}

.username {
  font-weight: bold;
}

.date {
  font-size: 0.7rem;
  color: gray;
  margin-left: 0.3rem;
}

.text {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  white-space: pre-wrap;
  margin-bottom: 0.5rem;
}

.modify {
  border: none;
  color: gray;
  font-size: 14px;
}

.actionContainer {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.iconContainer {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.icon {
  margin-right: 0.1rem;
}

.heart-icon {
  width: 20px;
  height: 20px;
  fill: #333;
}

.commentIcon {
  width: 20px;
  height: 20px;
  fill: #333;
}
