
.postButton {
  height : 12.8vh;
  background: #1C0B69;
  border-radius: 8px;
  color : white;
  width : 14vw;
  border :none;
  /* display: flex; */
  /* align-items: flex-end; */
  margin-left: 0.5rem;
  /* margin-top: 20px; */
  position: relative;
  
}


.comments_container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.comment {
  border :none;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  align-items:center;
  text-align:center;
}

.comment_content {
  width: 95%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}


.profile {
  display: flex;
  align-items: right;
  margin-left: 10px;
  width: 100%;
}

.profile_picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.username {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.text {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  text-align: center;
  margin-left: 3.8rem;
  
}




