.container {
  width: 90%;
  height: fit-content;
  /* background-color: rgb(255, 255, 255); */
  /* border-radius: 1rem; */

  /* position: absolute; */
  /* z-index: 200; */

  /* left: 50%; */
  /* top: 5%; */
  /* transform: translateX(-50%); */

  /* box-shadow: 1px 1px 25px 1px rgb(156, 156, 156); */
  display: flex;
  flex-direction: column;
  padding-bottom: 1.2rem;
}

.titleContainer {
  height: fit-content;

  font-weight: 700;
  font-size: 1.6rem;
  color: #1c0b69;

  display: flex;
  align-items: center;

  margin-left: 1rem;
  margin-right: 1rem;
}

.title {
  margin-right: 0.5rem;
}

.diff {
  width: fit-content;
  height: fit-content;
}

.period {
  height: fit-content;
  display: flex;

  padding-top: 0.6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.content {
  height: fit-content;

  border-radius: 0.3rem;
  border: 1px gray solid;
  display: flex;
  padding: 1rem;
  margin-top: 0.6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}

.people {
  height: fit-content;
  /* width: 100%; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  padding-bottom: 1rem;
  border-bottom: 1px rgb(218, 218, 218) solid;

  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* background-color: #BB0505; */
}

.maker {
  display: flex;
  flex-direction: row;
}

.makerProfileContainer {
  display: flex;
  flex-direction: row;
  width: 2rem;
  height: 2rem;
  border-radius: 70%;
  overflow: hidden;
}
.makerProfile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.makerNameAndTierContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 10px;
}

.makerName {
  color: #1c0b69;
  font-weight: 600;
}

.makerNameAndTier {
  display: flex;
  flex-direction: row;
}

.makerName {
}

.makerTier {
  width: 1rem;
  height: 1rem;
  margin-left: 0.2rem;
}

.participants {
  display: flex;
  height: fit-content;
  font-weight: 600;
}

.partImg {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  background-color: aquamarine;
}

.etc {
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.typeAndStars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desc {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: space-between;

  align-items: center;
}

.normal {
  width: fit-content;
  font-size: 0.9rem;
}

.highlight {
  margin-left: 0.2rem;
  margin-right: 0.4rem;

  font-weight: 800;
  font-size: 0.9rem;
  color: #1c0b69;

  width: fit-content;
}

.button {
  display: flex;
  /* width: 9.5rem; */
  justify-content: flex-end;
  align-items: center;
}

.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #1c0b69;
  border-radius: 0.2rem;
  height: 2rem;
  width: 2rem;
  background-color: white;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #1c0b69;
  border-radius: 2rem;
  width: 2rem;
  background-color: white;
  margin-right: 0.4rem;
}

.participate {
  /*버튼 디자인 */
  justify-items: center;
  align-items: center;

  width: fit-content;
  height: 100%;
  padding: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  background: #1c0b69;
  border-radius: 2rem;
  border: none;
  color: #ffffff;
  font-weight: bold;
}

.giveup {
  /*버튼 디자인 */
  justify-items: center;
  align-items: center;

  width: fit-content;
  height: fit-content;
  padding: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  background: #acacac;
  border-radius: 2rem;
  border: none;
  color: #bb0505;
  font-weight: bold;
}

.review {
  /*버튼 디자인 */
  justify-items: center;
  align-items: center;

  width: fit-content;
  height: fit-content;
  padding: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  background: #ffc60b;
  border-radius: 2rem;
  border: 0.1rem solid #1c0b69;
  color: #1c0b69;
  font-weight: bold;
}

.reviewComplete {
  /*버튼 디자인 */
  justify-items: center;
  align-items: center;

  width: fit-content;
  height: fit-content;
  padding: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  background: white;
  border-radius: 2rem;
  border: 0.1rem solid #1c0b69;
  color: #1c0b69;
  font-weight: bold;
}
