.container{
    position: relative;

    width: fit-content;
    height: 1rem;
}

.participant {
    position: absolute;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50px;
    top:-200%;
    left:25%;
    transform: translate(-50%, 50%)
  }

  .nullInfo{
    font-size: small;
  }


  .participant2{
   
    margin-left: 1.1rem;

  }

  .participant3{
    
    margin-left: 2.2rem;

  }

  .participant4{
   
    margin-left: 3.3rem;

  }

  .participant5{
  
    margin-left: 4.4rem;

  }