.container{
    
    position: relative;
    top: -60%;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    /* 클릭이벤트 막는 div 무시하기 */
    pointer-events:none; 
}