.container{
    
    position: relative;
    top: -60%;
    left: 40%;
    z-index: 2;

    display: flexbox;
    flex-direction: column;
    align-items: flex-end;
    width:auto;
    
    /* 클릭이벤트 막는 div 무시하기 */
    /* pointer-events:none;  */
}