.pageContainer {
    min-height: -webkit-fill-available;
    padding: 0px 30px;
  }
  
  .closeContainer {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .header {
    margin-top: 3rem;
    text-align: left;
    line-height: 2.5rem;
  }
  
  .textContainer {
    margin-top: 15px;
    height: 50px;
    border: 2px solid #1c0b69;
    border-radius: 6px;
    color: #1c0b69;
    line-height: 50px;
    padding-left: 15px;
    text-align: left;
    font-weight: bold;
  }
  
  .alertContainer {
    position: relative;
    /* display: inline-block; */
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    border-radius: 6px;
    background: #1c0b69;
    color: white;
    line-height: 50px;
    /* text-align: left; */
    font-weight: bold;
  }
  
  .alertContainer:after {
    content: "";
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #1c0b69;
    position: absolute;
    top: -23px;
    left: 20px;
  }
  
  .btnContainer {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
  }
  
  .blueBtn {
    width: 70px;
    height: 45px;
    line-height: 45px;
    border: 2px solid #1c0b69;
    border-radius: 6px;
    background-color: #1c0b69;
    color: white;
    font-weight: bold;
  }
  
  .whiteBtn {
    width: 70px;
    height: 45px;
    line-height: 45px;
    border: 2px solid #1c0b69;
    border-radius: 6px;
    background-color: white;
    color: #1c0b69;
    font-weight: bold;
  }
  
  .titleInput {
    margin-top: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 2px solid #1c0b69;
    border-radius: 6px;
    padding: 0px 15px;
    font-size: 1rem;
    line-height: 50px;
    font-family: Pretendard;
  }
  .titleInput::placeholder {
    text-indent: 0px;
    color: #1c0b69;
    opacity: 1;
    font-weight: bold;
    font-family: Pretendard;
  }
  
  .contentInput {
    margin-top: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    border: 2px solid #1c0b69;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 1rem;
    font-family: Pretendard;
    line-height: 1.5rem;
  }
  
  .contentInput::placeholder {
    color: #1c0b69;
    font-weight: bold;
    font-family: Pretendard;
  }
  
  .checkboxContainer {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #1c0b69;
  }
  
  .input {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .label {
    cursor: pointer;
    /* box-sizing: border-box; */
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    border: 2px solid #1c0b69;
    /* background: grey; */
    display: block;
    border-radius: 25px;
    position: relative;
  }
  
  .label:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 1.25px;
    left: 1.25px;
    width: 23px;
    height: 23px;
    background: #1c0b69;
    border: 2px solid #1c0b69;
    border-radius: 23px;
    transition: 0.3s;
  }
  
  .input:checked + .label {
    background: #1c0b69;
  }
  
  .input:checked + .label:after {
    left: calc(100% - 1.25px);
    background: #fff;
    border: 2px solid white;
    transform: translateX(-100%);
  }
  
  .label:active:after {
    width: 32.5px;
  }
  
  .uploadedImg {
    width: 100%;
    border-radius: 6px;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .option:hover {
      cursor: pointer;
      color: white;
      background-color: #1c0b69;
    }
  }
  
  .selected {
    color: white;
    background-color: #1c0b69;
  }
  
  

  .pageBackground {
    background-color: #1C0B69;
    width : 100vw;
    height : 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

  }

  .header {
    color: white;
    margin-top: 0;

  }