.recommendPageHeader {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.searchAndCreate {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}

.searchIcon {
  margin-right: 20px;
}

.section{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;

}


.recommendListInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 85%;
  height: fit-content;
  margin-bottom: 0.7rem;

}

.adventureTitle {
  text-align: left;
 

}

.recommendTitle {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 0.3rem;
  color: darkblue
}

.scrollContainer{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 3rem;
}

.more {

}