.titleFont{
    color:#1C0B69;
    font-size: 1.6rem;
}

.title{
    
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    border-bottom: 1px solid #1C0B69;
}




