.topBar {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1rem;
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 0.5px solid gray;
}

.right {
  visibility: hidden;
}
