.topBar {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1rem;
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 0.5px solid gray;
}

.right {
  visibility: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2rem;
}

.subheader {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: #1c0b69;
}

.photoHolder {
  width: 100%;
  margin-bottom: 1rem;
}

.photo {
  width: 100%;
  border-radius: 5px;
}

.checkBoxContainer {
  display: flex;
  align-items: center;
}

.checkBox {
  margin: 0.8rem 0.5rem 0.8rem 0;
}

.checkBoxLabel {
  font-weight: 600;
  font-size: 0.9rem;
}

.buttonHolder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vh;
}

.update {
  background: #1c0b69;
  border: 1px solid #1c0b69;
  border-radius: 8px;
  height: 5vh;
  width: 10vh;
  color: white;
}

.back {
  border: 1px solid #1c0b69;
  border-radius: 8px;
  height: 5vh;
  width: 10vh;
  background: white;
  color: #1c0b69;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}
