.comments_container {
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.comment {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.comment_content {
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  /* box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1); */
  border-inline: none;
}

.comment-content:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -20px;
  border-width: 10px 20px 10px 0;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.profile {
  display: flex;
  align-items: end;
  margin-left: 10px;
  color: #1C0B69;
  font-size: large;
  font-weight: bold;
}

.profile_picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.username {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.text {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  text-align: justify;
  margin-left: 0.6rem;
}

.icon {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.line{
  margin-top: 0.6rem;
  border-bottom: 1px solid lightgray;
}
