.emailInput {
  height: 48px;
  width: 100%;
  border-radius: 999px;
  background-color: #d9d9d9;
  border: 0px;
  margin-top: 18px;

  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}

.emailInput::placeholder {
  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.inputAndButton {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.deleteUserButton {
  width: 80px;
  height: 38px;
  border-radius: 999px;
  background: red;
  border: 0px;
  margin-top: 18px;
  float: right;

  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.cancelButton {
  width: 80px;
  height: 38px;
  border-radius: 999px;
  background: #1c0b69;
  border: 0px;
  margin-top: 18px;
  float: right;

  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.titleHolder {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}