.container {
  display : flex;
  flex-direction: column;
  align-items: end;
  margin-left: auto;
  margin-right: auto;
  width : fit-content;
}

.subContainer {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.subHeader {
  text-align: left;
}


.selectContainer {
  display: flex;
  justify-content: flex-start;
}

.select {
  appearance: none;
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  background-color: white;
  background: url("../../../public/images/selectArrow.png") no-repeat 95% 50%/15px
    auto;
  width: 7rem;
  height: 2.5rem;
  padding: 0 2rem 0 1rem;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: normal;
  font-size: 1rem;
}

.select::-ms-expand {
  display: none; /*for IE10,11*/
}
