.banner {
  width: 100%;
  height: 183px;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.text {
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.plus {
  color: white;
  height: 30px;
  width: 30px;
}
