
.photoContainer {
  width: 80px;
  height: 80px;
  border-radius: 70%;
  overflow: hidden;
  
}


.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userBanner {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin : 20px
}

.nicknameAndTierAndIntroduce {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.nicknameAndTier {
  display: flex;
  flex-direction: row;
  margin: 5px;
}


.introduce {
  font-size: small;
  color: grey;
}
