.userInfo {
  /* height: 25vh; */
  padding: 45px 30px 30px 30px;
}

.nicknameAndSearch {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.nicknameAndTier {
  display: flex;
  align-items: center;
}

.nickname {
  font-size: 1.8rem;
  font-weight: 700;
  font-style: bold;
  text-align: left;
  width: fit-content;
}

.tier {
  margin-left: 0.5rem;
  height: 1.7rem;
}

.searchAndMore {
  display: flex;
  font-size: 30px;
}

.searchBtn {
  margin-right: 0.5rem;
}

.introduceAndModify {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-bottom: 1.3rem;
}

.modifyBtn {
  margin-left: 0.3rem;
}

.modifyInput {
  border: none;
  font-size: 1rem;
  color: rgb(56, 56, 56);
  padding: 0.3rem 0.7rem;
  background-color: rgb(232, 232, 232);
  border-radius: 5px;
  width: 100%;
}

.photoAndChangeButton {
  position: relative;
}

.photoContainer {
  width: 80px;
  height: 80px;
  border-radius: 70%;
  overflow: hidden;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.changePhotoButton {
  position: absolute;
  border-radius: 70%;
  background: #1c0b69;
  color: #ffffff;
  font-weight: 600;
  top: 70%;
  left: 70%;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  line-height: 18px;
}

.photoAndFollowInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3rem;
}

.followInfo {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.followInfoPart {
  width: 33%;
}

.followName {
  font-weight: 700;
  margin-bottom: 0.1rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.blueBtn {
  width: 49%;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.3rem;
  background: #1c0b69;
  border: 1px solid #1c0b69;
  color: #ffffff;
}

.whiteBtn {
  background: #ffffff;
  color: #1c0b69;
}
