.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #1c0b690a;
}

.AppContainer {
  width: 100vw;
  min-width: 375px;
  max-width: 700px;
  position: relative;
  background-color: white;
}

/* 모든 페이지에 최소 높이 적용 */
.pageContainer {
  /* min-height: 100vh; 
  min-height: -webkit-fill-available; */

  height: 100vh; /* 지원 안 하는 브라우저를 위한 복귀점 */
  height: -webkit-fill-available;
}
