.App {
  text-align: center;
}

/* 모든 페이지에 최소 높이 적용 */
.pageContainer {
  min-height: 100vh;
}

/* 가로 스크롤 방지 -> 안됨 */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
