.infoContainer {
  width: 100vw;
  margin-top: 2rem;
  margin-left: calc(-50vw + 50%);
  box-sizing: border-box;
  padding: 10px 30px;
  background-color: #1c0b69;
  color: white;
}

.subContainer {
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}

.subHeader {
  text-align: left;
}

.selectContainer {
  display: flex;
  justify-content: flex-start;
}

.select {
  appearance: none;
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  background-color: white;
  background: url("../../../public/images/selectArrow.png") no-repeat 95% 50%/15px
    auto;
  width: 14rem;
  height: 2.5rem;
  padding: 0 2rem 0 1rem;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: normal;
  font-size: 1rem;
}

.select::-ms-expand {
  display: none; /*for IE10,11*/
}

.dateContainer {
  display: flex;
}

.dateInput {
  box-sizing: border-box;
  width: 14rem;
  height: 2.5rem;
  border: none;
  border-radius: 6px;
  font: inherit;
  font-weight: normal;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}
