.subHeader {
  margin-top: 3rem;
  text-align: left;
  line-height: 2.5rem;
}

.detail {
  text-align: left;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.status {
  text-align: right;
  color: #1c0b69;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.addBox {
  box-sizing: border-box;
  width: 100%;
  height: 130px;
  margin-bottom: 1rem;
  border: 2px solid #1c0b69;
  border-radius: 8px;
  color: #1c0b69;
  font-weight: bold;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
