.infoContainer {
  width: 100vw;
  margin-top: 2rem;
  margin-left: calc(-50vw + 50%);
  box-sizing: border-box;
  padding: 10px 30px;
  background-color: #1c0b69;
  color: white;
}

.subContainer {
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}

.subHeader {
  text-align: left;
}
