.postWrap {
  position: absolute;
  bottom: 0;
  width: 100vw;
  margin: 10px 0 20px 0px;
  overflow-x: auto;
  z-index: 1;
}

.modalWrap {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 60%;
  overflow: auto;
  background-color: rgba(255, 255, 255);
}

.postImage {
  width: 100%;
}
