.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.deleteUserButton {
  width: 80px;
  height: 38px;
  border-radius: 999px;
  background: white;
  border: 1px solid #1c0b69;
  margin-top: 18px;
  float: right;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #1c0b69;
}

.buttonHolder {
  display: flex;
  justify-content: space-between;
}

.cancelButton {
  width: 80px;
  height: 38px;
  border-radius: 999px;
  background: #1c0b69;
  border: 0px;
  margin-top: 18px;
  float: right;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}
